{% extends "base.html" %}
{% load cloudinary %}

    {% block sidebar %}
      {% include "teams/matches_partial.html" with matches=matches %}
    {% endblock %}

{% block content %}
  <div class="row">
	<h2><strong>Pronosticar resultado de {{ match }}</strong></h2>
	<h3>{{ match.match_date }}</h3>	
	<div id="clock" class="alert alert-dismissable alert-success" style="font-weight: bold"></div>
	
	<form action="" method="post" class="form-horizontal">
		 {% csrf_token %}
	    <div class="form-group">
	    	
	        <label for="home_goals" class="col-lg-3 control-label" style="text-align: left">
	        	{% cloudinary match.home.logo height=50 width=40 crop="scale" %}
	        	{{ match.home.name }}</label>
	        <div class="col-lg-2">
	          <input type="text" class="form-control" id="home_goals" name="home_goals" value="{{ current_home_goals }}"/>
	        </div>
        </div>
        <div class="form-group">
	        <label for="away_goals" class="col-lg-3 control-label" style="text-align: left">
	        	{% cloudinary match.away.logo height=50 width=40 crop="scale" %}
	        	{{ match.away.name }}</label>
	        <div class="col-lg-2">
	          <input type="text" class="form-control" id="away_goals" name="away_goals" value="{{ current_away_goals }}"/>
	        </div>
        </div>
		
		<input type="submit" value="Enviar" class="btn btn-primary"/>

	</form>
	
  </div>
{% endblock %}  	


{% block js_code %}
<script>
  $('#clock').countdown('{{ match.match_date|date:"Y/m/d H:m:s" }}').on('update.countdown', function(event) {
   var $this = $(this).html(event.strftime(''
     + '<span>%-d</span> días '
     + '<span>%H</span> horas '
     + '<span>%M</span> minutos '
     + '<span>%S</span> segundos'));
 });
 
 $('div[id^=match_countdown]').each(function() {
   console.log("hola");
   $(this).countdown($(this).find("input").val()).on('update.countdown', function(event) {
   var $this = $(this).html(event.strftime(''
     + '<span class="badge">%-d d %H h %M m %S s</span>'));
 });
});
</script>  
{% endblock %}