{% extends "base.html" %}
{% load cloudinary %}

    {% block sidebar %}
      {% include "teams/matches_partial.html" with matches=matches %}
    {% endblock %}

{% block content %}
  <div class="row">
	<h2><strong>{{match}} - {{match.match_date}}</strong></h2>
	<div id="clock" class="alert alert-dismissable alert-success" style="font-weight: bold">
                
    </div>
	
	<ul class="nav nav-pills">
    {% if can_give_forecast %}		
	    <li>
	      <a href="{% url 'matches:create_match_forecast' match.id match.slug %}">	
		     <strong>Pronosticar resultado</strong>
		  </a> 
	    </li>
	{% endif %}    
	{% if can_give_result %}
	    <li>
	      <a href="{% url 'matches:create_crowd_result' match.id  %}">	
		    <strong>Dar resultado</strong>
		  </a>
	    </li>
    {% endif %} 
   </ul>
   
	<div class="col-md-6">
	  {% include "matches/forecasts/last_forecasts_partial.html" with result_forecasts=result_forecasts %}
	</div>
	
	<div class="col-md-6">
	  {% include "matches/forecasts/forecasts_trend_partial.html" with home_trend=home_trend  away_trend=away_trend  draw_trend=draw_trend match=match %}
    </div>		
		
  </div>
{% endblock %}  	


{% block js_code %}
<script>
  $('#clock').countdown('{{ match.match_date|date:"Y/m/d H:m:s" }}').on('update.countdown', function(event) {
   var $this = $(this).html(event.strftime(''
     + '<span>%-d</span> días '
     + '<span>%H</span> horas '
     + '<span>%M</span> minutos '
     + '<span>%S</span> segundos'));
 });
 
 $('div[id^=match_countdown]').each(function() {
   console.log("hola");
   $(this).countdown($(this).find("input").val()).on('update.countdown', function(event) {
   var $this = $(this).html(event.strftime(''
     + '<span class="badge">%-d d %H h %M m %S s</span>'));
 });
});
</script>  
{% endblock %}