{% extends "base.html" %}
{% load cloudinary %}


	{% block content %}


        <div class="row">
	    {% if matches %}
	      {% for match in matches %}
	        <div class="col-md-6">
		      <div class="panel panel-default">
	          <div class="panel-body">
		          <div class="row">
		            <div class="col-md-3">
		              {% cloudinary match.home.logo height=50 width=50 crop="scale"  radius="max"%}
		            </div>
		            <div class="col-md-6">
		                <p><strong>{{match.name}}</strong></p>
		                <small>{{match.match_date}}</small>
		            </div>
		            <div class="col-md-3">
		              {% cloudinary match.away.logo height=50 width=50 crop="scale" radius="max"%}
		            </div>
		          </div>
		        </div>
		     </div>
            </div>
		 {% endfor %}
		{% else %}
		  <p>No matches are available.</p>
		{% endif %}
	  </div>

	{% endblock %}
