<div id="container" ></div>
<input type="hidden" id="home_trend" name="home_trend" value="{{ home_trend }}"/>
<input type="hidden" id="away_trend" name="away_trend" value="{{ away_trend }}"/>
<input type="hidden" id="draw_trend" name="draw_trend" value="{{ draw_trend }}"/>

<input type="hidden" id="home_name" name="home_name" value="{{ match.home.name }}"/>
<input type="hidden" id="away_name" name="away_name" value="{{ match.away.name }}"/>


<script>
	
	$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Tendencia de los pronósticos'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Tendencia de los pronósticos',
                data: [
                    {
                        name: $('#home_name').val(),
                        y: parseInt($('#home_trend').val()),
                        sliced: true,
                        selected: true
                    },
                    [$('#away_name').val(),   parseInt($('#away_trend').val())],
                    ['Empate', parseInt($('#draw_trend').val())], 
                ]
            }]
        });
    });

});
	
</script>

