{% extends "base.html" %}
{% load cloudinary %}

    {% block sidebar %}
      {% if matches %}
        <h3>Pr&oacute;ximos encuentros</h3>
        {% for match in matches %} 
        <div class="panel panel-default">
          <div class="panel-body">
	          <div class="row">
	            <div class="col-md-3">
	              {% cloudinary match.home.logo height=40 width=40 crop="scale"  radius="max"%}
	            </div>
	            <div class="col-md-6">
	                <p><strong>{{match.name}}</strong></p>
	                <small>{{match.match_date}}</small>	 	
	            </div>
	            <div class="col-md-3">
	              {% cloudinary match.away.logo height=40 width=40 crop="scale" radius="max"%}
	            </div>	
	          </div>
	        </div>	
	     </div>	
        {% endfor %}
        
      {% else %}
		  <p>No matches are available.</p>
	  {% endif %}
    {% endblock %}


	{% block content %}
	
		<div class="row">
		  {% if team_list %}
		    {% for team in team_list %}  
		      <div class="col-sm-6 col-md-4">
		        <div class="thumbnail">
		          {% cloudinary team.team_photo  height=200 width=300 crop="fill" %}
		          <div class="caption">
		            <h3>
		            	<a href="{% url 'teams:detail' team.id team.slug %}">{{ team.name }}</a>
		            </h3>
		            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		          </div>
		        </div>
		      </div>
		      
		  {% endfor %}
		{% else %}
		  <p>No teams are available.</p>
		{% endif %}
	  </div>	
	  
	{% endblock %}
