{% load cloudinary %}
{% if matches %}
	<h3><strong>Pr&oacute;ximos encuentros</strong></h3>
	{% for match in matches %}
	<div class="panel panel-default" >
	  <div class="panel-body">
	      <div class="row">
	        <div class="col-md-3" style="text-align: center">
	
	          {% cloudinary match.home.logo height=50 width=40 crop="scale" %}
	
	        </div>
	        <div class="col-md-6" style="text-align: center">
	           <a href="{% url 'matches:detail' match.id match.slug %}">		
	             <p><strong>{{match.name}}</strong></p>
	           </a>  
	            <small>{{match.match_date}}</small>
	             <div id="match_countdown">
	              <input type="hidden" value="{{ match.match_date|date:'Y/m/d H:m:s' }}"/>
	             </div>
	        </div>
	        <div class="col-md-3" style="text-align: center">
	          {% cloudinary match.away.logo height=50 width=40 crop="scale" %}
	        </div>	
	
	      </div>
	    </div>
	 </div>
	{% endfor %}

{% else %}
  <p>No matches are available.</p>
{% endif %}