
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'teams/css/style.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'teams/js/countdown.js' %}"></script>

{% block nav %}
  {% include "nav.html" %}
{% endblock %}


<div class="container">
  <div class="row">
  	<div class="col-md-12">
  	  {% block content %}
  	  
  	    {% block messages %}
  	    {% if messages %}
		   <ul class="messages">
		     {% for message in messages %}
		     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		     {% endfor %}
		   </ul>
		 {% endif %}
  	    {% endblock %}
  	  
      {% endblock %}
  	</div>
  </div>

</div>

{% block js_code %}
{% endblock %}


