{% extends "base.html" %}
{% load cloudinary %}

{% block wrapper %}
	{% block content %}
	   
	
        <div class="row">
	    {% if leagues_list %}
	      {% for league in leagues_list %}  
	      <div class="col-sm-6 col-md-4">
	        <div class="thumbnail">
	          {% cloudinary league.logo  height=200 width=300 crop="scale" %}
	          <div class="caption">
	            <h3>
	            	<a href="{% url 'leagues:detail' league.id league.slug %}">{{ league.name }}</a>
	            </h3>
	            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	          </div>
	        </div>
	      </div>
		      
		    {% endfor %}
		{% else %}
		  <p>No leagues are available.</p>
		{% endif %}
	  </div>	
	  
	{% endblock %}
{% endblock %}